<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>

	<meta charset="utf-8">


	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	<title>Resource Planner</title>
	<meta name="author" content="Kiandra" />
	<meta name="description" content="A simple resource planning for allocating a team" />

	<meta name="Copyright" content="Kiandra" />


	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="shortcut icon" href="favicon.ico" />


	<!--link rel="stylesheet" href="assets/css/reset.css" /-->
	
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/style.css" />
	

	<script src="assets/js/libs/modernizr-3.2.0.base.js"></script>

</head>

<body ng-app="myapp" ng-controller="ListController">

<div class="wrapper">

	<header>

	<h1>Kiandra<span>Resource Planner</span></h1>

	<button class="toggle" ng-click="hideAddRow = !hideAddRow">Toggle Save Mode</button>

	</header>


	<section>
		<!-- Header -->
		<div class="row header-row">
			<div class="col-sm-3">
				<h4 class="standard">Role</h4>
			</div>
			<div class="col-sm-2">
				<h4>Inception</h4>
			</div>
			<div class="col-sm-2">
				<h4>Build</h4>
			</div>
			<div class="col-sm-2">
				<h4>Stabilisation</h4>
			</div>
			<div class="col-sm-2">
				<h4>Implementation</h4>
			</div>
		</div>

		<!-- Content -->
		<form>
				<div class="row add-row" ng-show="!hideAddRow">
					<div class="col-sm-3">
						<div class="form-group">
							<select class="form-control" ng-model="resourceDetail.role" ng-options="item as item.label for item in items track by item.id" required>
								<option value="">-- Select a Role --</option>
							</select>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="resourceDetail.inception" ng-init="resourceDetail.inception ='100'" required />
							<span class="input-group-addon">%</span>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="resourceDetail.build" ng-init="resourceDetail.build ='100'" required>
							<span class="input-group-addon">%</span>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="resourceDetail.stabilisation" ng-init="resourceDetail.stabilisation ='100'" required>
							<span class="input-group-addon">%</span>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="resourceDetail.implement" ng-init="resourceDetail.implement ='100'" required>
							<span class="input-group-addon">%</span>
						</div>
					</div>
					<div class="col-sm-1">
						<i ng-click="addNew()" ng-show="!hideAddRow" class="button green ion-ios-plus-outline"></i>
					</div>
				</div>

				<div class="row row-results" ng-repeat="resourceDetail in resourceDetails">
					<div class="{{resourceDetail.role.val}}">
						<div class="col-sm-3">
	                    	<p>{{resourceDetail.role.label}}</p>
	                	</div>
						<div class="col-sm-2">
							<p style="width: {{resourceDetail.inception }}%">{{resourceDetail.inception}}% </p>
	                	</div>
	                	<div class="col-sm-2">
	                		<p style="width: {{resourceDetail.build }}%">{{resourceDetail.build}}% </p>
	                	</div>
	                	<div class="col-sm-2">
	                		<p style="width: {{resourceDetail.stabilisation }}%">{{resourceDetail.stabilisation}}% </p>
	                	</div>
	                	<div class="col-sm-2">
	                		<p style="width: {{resourceDetail.implement }}%">{{resourceDetail.implement}}% </p>
	                	</div>
	                	<div class="col-sm-1">
							<i ng-click="remove($index)" ng-show="!hideAddRow" class="button red ion-ios-close-outline"></i>
						</div>
					</div>
                </div>
		</form>

	</section>

</div>

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>

</body>
</html>
